{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"]
}
