{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "endOfLine": "auto",
    "jsxSingleQuote": true,
    "printWidth": 120,
    "arrowParens": "avoid",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}
